<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title アンケート
  body
    h1 アンケートページ
    a(href="/enquetes/yaki-shabu") 焼肉orしゃぶしゃぶ
    br
    a(href="/enquetes/sushi-pizza") 寿司orパスタ
    br
    a(href="/enquetes/rice-bread") ごはんorパン
    br
    br
    a(href="/logout") ログアウト
