doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title トップページ
  body
    h1 答えたいアンケートを選択してください♡
    h2
      a(href="/enquetes/yaki-shabu") 焼き肉 か しゃぶしゃぶ か
      br
      a(href="/enquetes/rice-bread") ごはん か パン か
      br
      a(href="/enquetes/sushi-pizza") 寿司 か ピザ か
    br
    a(href="/logout") ログアウト