doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 アンケート
    a(href="/enquetes/yaki-shabu") やきにく：しゃぶしゃぶ
    br
    a(href="/enquetes/rice-bread") ごはん：パン
    br
    a(href="/enquetes/sushi-pizza") 寿司：ピザ